.table-container {
    width: calc(100% - 60px);
    margin: 30px;
    /*position: fixed;*/
    height: calc(100% - 60px);
}

.table-scroll {
    width: 100%;
    overflow: auto;
    height: 100%;
}

td,
th {
    margin: 0;
}

th {
    padding: 8px 10px;
    white-space: nowrap;
    text-align: left;
    background: #f1f1f1;
    border: 1px solid #ccc;
}
/*th div {
    position: absolute;
    background: transparent;
    padding: 9px 25px;
    color: #2f2b2c;
    top: 0;
    margin-left: -25px;
    line-height: normal;
}*/

td {
    padding: 5px 10px;
    border-top: 1px solid #ccc;
}

tbody tr:hover {
    background: #F9F9F9;
}

.table-cell-date {
    white-space: nowrap;
    max-width: 155px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.table-cell-number {
    text-align: right;
}

.table-pager {
    margin: 5px 0;
}

.table-page-item {
    display: inline-block;
    width: 20px;
    height: 20px;
    box-shadow: 0 0 2px #888;
    text-align: center;
    line-height: 20px;
    margin: 0 10px 0 0;
    cursor: pointer;
}

.table-page-item:hover {
    background: #f1f1f1;
}

.table-selected-page {
    background: #ccc;
}
