.table-container {
    width: calc(100% - 60px);
    margin: 30px;
    position: relative;
    height: calc(100% - 60px);
}

.table-scroll {
    width: 100%;
    overflow: auto;
    height: 100%;
}

td,
th {
    margin: 0;
}

th {
    position: relative;
    padding: 8px 25px 8px 10px;
    white-space: nowrap;
    text-align: left;
    background: #f1f1f1;
    border: 1px solid #ccc;
}

th:hover {
    text-decoration: underline;
    cursor: pointer;
}

.sort-asc-arrow {
    position: absolute;
    right: 8px;
    top: 10px;
    display: inline-block;
    border-bottom: 6px solid #000;
    border-top: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
}

.sort-desc-arrow {
    position: absolute;
    right: 8px;
    top: 18px;
    display: inline-block;
    border-top: 6px solid #000;
    border-bottom: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
}

.table-sorting-asc .sort-desc-arrow {
    display: none;
}
.table-sorting-desc .sort-asc-arrow {
    display: none;
}
.table-sorting-desc .sort-desc-arrow,
.table-sorting-asc .sort-asc-arrow {
    top: 14px;
}

td {
    padding: 5px 10px;
    border-top: 1px solid #ccc;
}

tbody tr:hover {
    background: #F9F9F9;
}

.table-cell-date {
    white-space: nowrap;
    max-width: 155px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.table-cell-number {
    text-align: right;
}

.table-pager {
    margin: 5px 0;
}

.table-loading {
    position: absolute;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    top: 2px;
    color: #fff;
    text-align: center;
    line-height: 24px;
    transition: opacity .3s;
    opacity: 1;
    visibility: visible;
    z-index: 1;
}

.table-loading-hide {
    opacity: 0;
    visibility: hidden;
}

.table-total-records {
    position: absolute;
    left: 50%;
    top: 5px;
    transform: translateX(-50%);
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
}
